<a href="https://colab.research.google.com/github/IBM-EPBL/IBM-Project-2214-1658466966/blob/main/Copy_of_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Basic Python

## 1. Split this string

In [ ]:
s = "Hi there Sam!"

In [ ]:
S.Split(' ')
S

NameError: ignored

## 2. Use .format() to print the following string. 

### Output should be: The diameter of Earth is 12742 kilometers.

In [ ]:
planet = "Earth"
diameter = 12742

In [ ]:
('The diameter of earth is {} is {} kilometre.'format(planet,diameter))

## 3. In this nest dictionary grab the word "hello"

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:
d['k1'][3]['tricky'][3]['target'][3]

# Numpy

In [ ]:
import numpy as np

## 4.1 Create an array of 10 zeros? 
## 4.2 Create an array of 10 fives?

In [ ]:
a=np.zeros(10)
a

In [ ]:
a1=np.ones(10)*5
a1

## 5. Create an array of all the even integers from 20 to 35

In [ ]:
a3=np.array(20,35,2)

## 6. Create a 3x3 matrix with values ranging from 0 to 8

In [ ]:
M=np.arrange(0,9).reshape(3,3)
M

## 7. Concatenate a and b 
## a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [ ]:
ab=np.concentrate((a,b))
ab

# Pandas

## 8. Create a dataframe with 3 rows and 2 columns

In [ ]:
import pandas as pd

In [ ]:
a4=[['oranges',5],['apples',6],['berry',2]]
d=pd.Dataframe(a4,columns=['foods','numbers])
d

## 9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [ ]:
series=pd.date_range(start='01-01-2023',end='02-10-2023')
Series

## 10. Create 2D list to DataFrame

lists = [[1, 'aaa', 22],
         [2, 'bbb', 25],
         [3, 'ccc', 24]]

In [ ]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [ ]:
d1=pd.DataFrame(list,columns=['1st_number','letters','2nd_number'])
d1